<!doctype html>

<html lang="pt-br">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Hello, world!</title>

  </head>
  <body>

    <!--Barra de navegação-->
    {{>_navbar}}
    <div class="container mt-4">
      {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
      {{else}}
      {{/if}}
      <!--Barra de mensagens-->
      {{>_msg}}
      <!--Componentes-->
      {{{body}}}
    </div>

  </body>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
</html>
